.navbar
{
    background-color: #2c4047;
    overflow: hidden;
    margin: 0;
    padding:0;
    color: #FFFFFF;
    justify-content: space-evenly;
    align-items: center;
}

a, .logo 
{
    justify-content: center;
    display:inline-block;
}

#img-logo
{
    width: 70px;
    margin-left: 50px
}

.all-nav-buttons
{
    float:right;
    align-items: center;
    margin-top: auto;
    vertical-align: center;
}

a
{
    margin-right: 50px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

ul
{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #2c4047;
}

li
{
    float: left;
}

li a
{
    display: block;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
}

li:hover
{
    background-color: #314147;
}